extends base.pug

block content
    section.content
        .row
            .col-lg-3.col-xs-6
                .small-box.bg-aqua
                    .inner
                        h3 管
                    .icon
                        i.fa.fa-dharmachakra
                    a.small-box-footer(href='#')
                        i.fa.fa-biking

            .col-lg-3.col-xs-6
                .small-box.bg-green
                    .inner
                        h3 理
                    .icon
                        i.fa.fa-dharmachakra
                    a.small-box-footer(href='#')
                        i.fa.fa-biking

            .col-lg-3.col-xs-6
                .small-box.bg-yellow
                    .inner
                        h3 后
                    .icon
                        i.fa.fa-dharmachakra
                    a.small-box-footer(href='#')
                        i.fa.fa-biking

            .col-lg-3.col-xs-6
                .small-box.bg-red
                    .inner
                        h3 台
                    .icon
                        i.fa.fa-dharmachakra
                    a.small-box-footer(href='#')
                        i.fa.fa-biking
