extends ../base.pug

block css
    link(href='/css/page.css', rel='stylesheet')

block content
    .container-fluid
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-info
                    .panel-heading.head
                        .clearfix
                            | 设置更改
                            button.btn.btn-default OK
                            span.alert
                    .panel-body
                        .row
                            .col-md-12
                                | 区域
                                select.form-control(name='area')
                                    - for (var v of areas)
                                        option(value=v[0]) #{v[1]}
                        .row
                            .col-md-12
                                hr
                        .row
                            .col-md-6
                                | 关闭注册高水位线
                                i.fa.fa-question-circle(data-toggle='tooltip', title='达到后, 如果开服模式为人满开服, 则开新服')
                                input.form-control(name='closereg_hwater')
                            .col-md-6
                                | 关闭注册硬上限
                                i.fa.fa-question-circle(data-toggle='tooltip', title='到达后, 关闭注册')
                                input.form-control(name='closereg_limit')
                        .row
                            .col-md-12
                                hr
                        .row
                            .col-md-6
                                | 开服模式
                                select.form-control(name='opennew_mode')
                                    option(value='manual') 手动开启
                                    option(value='full') 服务器人满后
                                    option(value='itv') 固定时间间隔
                            .col-md-6
                                | 开服间隔 (小时)
                                input.form-control(name='opennew_itv')



block script
    script(src='/scripts/svr/settings.js')
