#sys-confirm.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                .close(data-dismiss='modal')
                    i.fa.fa-times
                h4.modal-title 确认框

            .modal-body
                p

            .modal-footer
                button.btn.btn-primary 确定
                button.btn.btn-default(data-dismiss='modal') 取消
